{% extends "layout_load_page.html" %}
{% block body %}
      <!-- cover image -->
      <div id="load-image" class="cover-image animated fadeIn" style="background-image : url('../static/teamwork.jpg')"></div>
      <!-- content -->
      <div class="container">
            <div class="row">
            <!-- content -->
              <div class="col-md-12 text-center">
                <p class="text-inverse">Are you a non-profit organization that needs help building a software engineering project?<br> Are you a coder who wants to make a positive impact by volunteering your technical skills?<br>We connect NGOs and coders to change the world for the better.</p>
              </div>
            </div>
      </div>
 {%endblock%}