{% extends "layout_load_page.html" %}
{% block body %}
            <!-- cover image -->
      <div id="load-image" class="cover-image animated fadeIn" style="background-image : url('../static/stock_coding_edit.jpg')"></div>
      <!-- content -->
      <div class="container">
            <div class="row">
            <!-- content -->
              <div class="col-md-12 text-center">
                <h1 class="text-inverse">VolunteerToday</h1>
                <p class="text-inverse">Connecting coders and nonprofit organizations</p>
                <br>
                <br>
                <!-- buttons -->
                <div class = "col-md-12">
                  <a class="btn btn-primary" href="signup">Signup</a>
                  <a class="btn btn-primary" href="login">Login</a>
                </div>
              </div>
            </div>
      </div>
 {%endblock%}