{% extends "layout_load_page.html" %}
{% block body %}
<!-- background image -->
    <div id="load-image" class="cover-image" style="background-image : url('../static/stock_coding_edit.jpg')"></div>
		<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <form class="form-horizontal" role="form" action="/signup" method="post">
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputEmail3" class="control-label">Name</label>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="inputName" placeholder="Name" name="p_name" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputEmail3" class="control-label">Email</label>
                </div>
                <div class="col-sm-4">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">Password</label>
                </div>
                <div class="col-sm-4">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" required>
                </div>
              </div>
              <div class="form-group">
              	<div class="col-sm-4">
              		<input type="radio" value="Non Profit" name="type">&nbsp;Non Profit</input>
              		<input type="radio" value="Volunteer" name="type">&nbsp;Volunteer</input>
              	</div>
              </div>
              <div class="form-group">
                <div class="form-group">
                	<div class="col-sm-offset-2 col-sm-4">
						<button type="submit" class="btn btn-info">Sign Up</button>
                	</div>
              	</div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}