{% extends "layout_load_page.html" %}
{% block body %}
      <!-- cover image -->
      <div id="load-image" class="cover-image animated fadeIn" style="background-image : url('../static/firstworldproblem.jpg')"></div>
      <!-- content -->
      <div class="container">
            <div class="row">
            <!-- content -->
              <div class="col-md-12 text-center">
                <p class="text-inverse">This was a project created by Team Sidewalk at DropBox Summer Day Hackathon 2015.</p>
              </div>
            </div>
      </div>
 {%endblock%}