{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<body onLoad = "load()">
    <h1>Hours Volunteered to Date: </h1><h1 id="total">0</h1>
    <h2>Enter Volunteer Hours</h2>
        <input type="text" id="hours">
        <input type="button" value="Send" onclick = "sum()">

    <h2>Current Goal:</h2><h2 id="goal"></h2>
    	<progress id="myProgress" value="0" max="100">
</progress>

	<h2>Add more hours:</h2>
        <input type="text" id="add_hours">
        <input type="button" value="Send" onclick = "add_hours()">

	<h2>Set new goal:</h2>
        <input type="text" id="new_goal">
        <input type="button" value="Send" onclick = "new_goal()">


   
</body>
</html>

<script>

function load() {
	document.getElementById("total").innerHTML = localStorage.getItem("total");
	document.getElementById("goal").innerHTML = localStorage.getItem("goal");
	update();


}
function sum() {
	var total = parseInt(localStorage.getItem("total"));
	var hours = parseInt(document.getElementById("hours").value);

	hours = isNaN(hours) ? 0 : hours;
	total = isNaN(total) ? 0 : total;
	total+= hours;
	localStorage.setItem("total", total); 
	document.getElementById("total").innerHTML = localStorage.getItem("total");
	document.getElementById("hours").value = "";
	update();
}

function add_hours() {
	var cur_goal = parseInt(localStorage.getItem("goal"));
	var add_hours = parseInt(document.getElementById("add_hours").value);

	add_hours = isNaN(add_hours) ? 0 : add_hours;
	cur_goal = isNaN(cur_goal) ? 0 : cur_goal; 
	cur_goal += add_hours;
	localStorage.setItem("goal", cur_goal); 
	document.getElementById("goal").innerHTML = localStorage.getItem("goal");
	document.getElementById("add_hours").value = "";
	update();
}

function new_goal() {
	var new_goal = parseInt(document.getElementById("new_goal").value);
	localStorage.setItem("goal", new_goal); 
	document.getElementById("goal").innerHTML = localStorage.getItem("goal");
	document.getElementById("new_goal").value = "";
}

function update() {
	var goal = parseInt(localStorage.getItem("goal"));
	var total = parseInt(localStorage.getItem("total"));
	var completed = Math.round(total/goal * 100);
	document.getElementById("myProgress").value = completed;
}





</script>


{% endblock %}